doctype 5
html
	head
		meta(charset="utf-8")
		title sketchit
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", href="/styles/main.css")
		script(data-main="/src/client/app", src="/bower_components/requirejs/require.js", async)
	body
		h1 sketchit
